.categories-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-top: 64px;
}

.categories-cards a.card {
  color: var(--text-primary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
}

.categories-cards .card h3{
  font-size: 28px;
  font-weight: var(--title-weight);
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card .single-line .transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }


}
