header{
    width: 100%;
    height: 188px;
    background-color: var(--background-tertiary-color);
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;   
    margin: 37px 0 0 48px;
}