header{
    background-color: var(--background-tertiary-color);
    display: flex; /*Organizar automaticamente na tela os icones*/
    flex-direction: row; /*Configurando posição dos elementos do header*/
    justify-content: space-between; /*Configurando posição dos elementos do header*/
    padding: 38px 48px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}